# فایل‌های موقت پایتون
__pycache__/
*.pyc

# محیط مجازی (خودت روی هر کامپیوتر جدید دوباره می‌سازیش)
venv/

# دیتابیس محلی (هر کامپیوتر نسخه خودش رو داره)
db.sqlite3

# فایل تنظیمات VS Code (اختیاریه، معمولاً لازم نیست share بشه)
.vscode/
